@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 class="h4">Toplantı Özeti</h2>
<p>Toplantıya sizinle birlikte 20 kişi katılıyor</p>
<a class="btn btn-sm btn-outline-primary" href="#">Katılımcıları Listele</a>